<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header bg-purple">
                    <h3 class="card-title">Add Information</h3>
                </div>
                <form id="SubmitForm" enctype="application/x-www-form-urlencoded">
                    <div class="card-body">
                        <% for(const field of fields) { %>
                                %>
                                <div class="form-group">
                                    <label for="<%= field %>">
                                        <%= field.charAt(0).toUpperCase() + field.slice(1) %>
                                    </label>
                                    <input type="<%= field.includes('password') ? 'password' : 'text' %>"
                                        id="<%= field %>" name="<%= field %>" class="form-control" required />
                                </div>
                        <% } %>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button id="submitFormBtn" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="<%= api %>" id="apiInput">