<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header bg-purple">
                    <h3 class="card-title">Update Tag Information</h3>
                </div>
                <form id="updateForm" data-id="<%= response._id %>">
                    <div class="card-body">

                        <div class="mb-3">
                            <label for="name" class="form-label mb-2">Tag_Name</label>
                            <input type="text" name="name" value="<%= response.name %>" class="form-control" id="name"
                                placeholder="name">
                        </div>
                        <div class="mb-3 d-flex flex-column">
                            <label for="gender" class="form-label mb-2">Gender</label>
                            <div class='d-flex'>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="Male" value="Male"
                                        <%=response.gender==='Male' ? 'checked' : '' %>
                                    />
                                    <label class="form-check-label" for="Male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="Female"
                                        value="Female" <%=response.gender==='Female' ? 'checked' : '' %>
                                    />
                                    <label class="form-check-label" for="Female">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="Others"
                                        value="Others" <%=response.gender==='Others' ? 'checked' : '' %>
                                    />
                                    <label class="form-check-label" for="Others">Others</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 d-flex flex-column">
                            <label for="hobbies" class="form-label mb-2">Hobbies</label>
                            <div class='d-flex'>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="hobbies" id="helo"
                                        value="helo" <%=response.hobbies.includes('helo') && 'checked' %>
                                    />
                                    <label class="form-check-label" for="helo">helo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="hobbies" id="helo2"
                                        value="helo2" <%=response.hobbies.includes('helo2') && 'checked' %>
                                    />
                                    <label class="form-check-label" for="helo2">helo2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="hobbies" id="hewfw1"
                                        value="hewfw1" <%=response.hobbies.includes('hewfw1') && 'checked' %>
                                    />
                                    <label class="form-check-label" for="hewfw1">hewfw1</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button id="submitFormBtn" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>